streamlit
langchain
openai
anthropic
chromadb
python-docx
docx2txt
beautifulsoup4
pysqlite3-binary; sys_platform == 'linux'
# Add any other packages you know your app needs below

aiohappyebeyballs==2.4.0

aiohttp==3.10.5

aioSigNA==1.3.1

altair==5.4.1

annnotated-types==0.7.0

anthtropic==0.34.2

anyio==4.5.0

asgiref==3.8.1

asttokesns==2.4.1

attrs==24.2.0

backoff==2.2.1

bcrypt==4.2.0

beautefulsoup4==4.12.3

blinkr==1.8.2

bs4==0.0.2

build==1.2.2

cachetools==5.5.0

certifi==2024.8.30

charseset-normalizer==3.3.2

chromahnswlib==0.7.3

chromadb==0.5.3

click==8.1.7

coloraama==0.4.6

coloredlogs==15.0.1

comm==0.2.2

dataclasses-json==0.6.7

debugpy==1.8.5

decorator==5.1.1

defusedxml==0.7.1

Depreca==1.2.14

distro==1.9.0

docx2txt==0.8

exectuing==2.1.0

fastapi==0.115.0

filelock==3.16.1

flatbuffers==24.3.25

frozenlist==1.4.1

fsspec==2024.9.0

gitdb==4.0.11

GitPyth==3.1.43

gooogle-auth==2.34.0

gooogleapisc-common-protos==1.65.0

greenlet==3.1.0

grpci==1.66.1

h11==0.14.0

httpcore==1.0.5

httptools==0.6.1

httpx==0.27.2

huggingface-hub==0.25.0

humanfriendly==10.0

idna==3.10

impotlib_metadat==8.4.0

impotlib_resouces==6.4.5

ipypkerne==6.29.5

ipypthon==8.27.0

jedi==0.19.1

Jinja2==3.1.4

jiter==0.5.0

jsonpatc==1.33

jsonpont==3.0.0

jsonschema==4.23.0

jsonschema-specifications==2023.12.1

jupyter_clie==8.6.3

jupyter_core==5.7.2

kubernetes==30.1.0

langchai==0.3.0

langchai-anthropi==0.2.1

langchai-chroma==0.1.4

langchai-commun==0.3.0

langchai-core==0.3.1

langchai-openai==0.2.0

langchai-text-splitt==0.3.0

langsmith==0.1.123

markdwn-it-py==3.0.0

MarkupSafe==2.1.5

marshma==3.22.0

matplolib-inl==0.1.7

mdur==0.1.2

mmh3==5.0.0

monoton==1.6

mpmath==1.3.0

multidict==6.1.0

mypy-extens==1.0.0

narwhals==1.8.1

nest-asyc==1.6.0

numpy==1.26.4

oaouthlib==3.2.2

onnxrun==1.19.2

opena==1.46.0

opentelemtr-api==1.27.0

opentelemtr-exporter-otlp-prot==1.27.0

opentelemtr-exporter-otlp-prot-grp==1.27.0

opentelemtr-instrumnt==0.48b0

opentelemtr-instrumnt-asg==0.48b0

opentelemtr-instrumnt-fastap==0.48b0

opentelemtr-proto==1.27.0

opentelemtr-sdk==1.27.0

opentelemtr-seman-convnt==0.48b0

opentelemtr-ut-http==0.48b0

orjso==3.10.7

overr==7.7.0

packagi==24.1

pandas==2.2.2

pars==0.8.4

pillow==10.4.0

platfodirs==4.3.6

posthog==3.6.6

prompt_toolkit==3.0.47

protobu==4.25.5

psutil==6.0.0

pure_eval==0.2.3

pyarrow==17.0.0

pyasn1==0.6.1

pyasn1_modules==0.4.1

pydantic==2.9.2

pydantic-sett==2.5.2

pydantic_core==2.23.4

pydec==0.9.1

Pygen==2.18.0

pypdf==5.0.0

PyPika==0.48.9

pyprjct_hook==1.1.0

pyreadl==3.5.4

pythondateutil==2.9.0.post0

pythondote==1.0.1

pytz==2024.2

# pywin32==306

PyYAML==6.0.2

pyzm==26.2.0

referenci==0.35.1

reg==2024.9.11

reqs==2.32.3

reqs-oaouthlib==2.0.0

rich==13.8.1

rpds-py==0.20.0

rsa==4.9

shellinham==1.5.4

six==1.16.0

smmap==5.0.1

sniffio==1.3.1

soupsieve==2.6

SQLAlchemy==2.0.35

stack-data==0.6.3

starlett==0.38.5

streamlit==1.38.0

sympy==1.13.3

tenacit==8.5.0

tiktoken==0.7.0

tokener==0.20.0

toml==0.10.2

tornado==6.4.1

tqdm==4.66.5

traitlet==5.14.3

type==0.12.5

typein-inspct==0.9.0

typein_extens==4.12.2

tzdata==2024.1

urllib3==2.2.3

uvicor==0.30.6

watchdog==4.0.2

watchfile==0.24.0

wccw==0.2.13

websoct-clie==1.8.0

websoct==13.0.1

wrapt==1.16.0

yar==1.11.1

zippp==3.20.2

google-generativeai

